# Statistics Practice Problems

### Complete the following problems.

#### 1. What is the mean of the following numbers? 12, 37, 72, 38, 76, 35, 28
#### a. 42
#### b. 39
#### c. 42.5
#### d. 35.5

#### ans: c) 42.5

#### 2. What number would you divide by to calculate the mean of 3, 4, 2, 7, and 6?
#### a. 6
#### b. 3
#### c. 5
#### d. 4

#### ans: c)5

#### 3. What measure of central tendency is calculated by adding all the values and dividing the sum by the number of values?
#### a. Median
#### b. Mean
#### c. Mode
#### d. Typical value

#### ans: b) Mean

#### 4. The mean of four numbers is 71.5. If three of the numbers are 58, 76, and 88, what is the value of the fourth number?
#### a. 64
#### b. 60
#### c. 76
#### d. 82

#### ans: a) 64

#### 5. Determine the mean of the following set of numbers: 40, 61, 55, 79, 9, 55, 81, 65, 109

#### ans: 61.5 is the mean of the above set of numbers.

#### 6. The mean weight of five complete computer stations is 173.2 pounds. The weights of four of the computer stations are 164.4 pounds, 142.8 pounds, 195 pounds, and 188.2 pounds respectively. What is the weight of the fifth computer station?

#### ans: 175.6 pounds will be the weight of 5th computer station.

#### 7. The mean width of 10 Ipads is 5.1 inches. The mean width of 6 Fire tablet is 4.8 inches.
#### a. What is the total width of the iPads?

#### ans: 51 inches.

#### b. What is the total width of the Fire tablet?

#### ans: 28.8 inches.

#### c. What is the mean width of the 10 iPads and 6 Fire tablet?

#### ans: ( 5.1 + 4.8 ) / 2 = 4.95

#### 8. A group NPS surveys were sent out at random.The scores were 90, 50, 60, 80, 70, 80, 20, 90, 80, 10, and 20. Find the mean score.

#### ans: mean score is 59.09

#### 9. What is the median of the following numbers? 11, 39, 74, 42, 39, 78, 38, 25
#### a. 42.5
#### b. 39
#### c. 42
#### d. 35.5

#### ans: b) 39

#### 10. The front row in a movie theatre has 23 seats. If you were asked to sit in the seat that occupied the median position, in which seat would you have to sit?
#### a. 2
#### b. 11
#### c. 22
#### d. 12

#### ans: d) 12

#### 11. What is the median score achieved by a student who recorded the following scores on 10 math quizzes?
#### 68, 55, 70, 62, 71, 58, 81, 82, 63, 79
#### a. 68
#### b. 71
#### c. 69
#### d. 79

#### ans: c) 69

#### 12. The number of cola sold by each of 30 salesperson is as follows: 42, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30,45, 32, 18, 40, 12, 20 .What is the median number of colas sold by the 30 salesperson?
#### a. 18
#### b. 21
#### c. 24
#### d. 32

#### ans: b) 21

#### 13. Which of the following measures can be determined for quantitative data?
#### a. Mean
#### b. Median
#### c. Mode
#### d. All of these

#### ans: d) all of these

#### 14. Which of the following measures can be calculated for qualitative data?
#### a. Mean
#### b. Median
#### c. Mode
#### d. All of these

#### ans: c) mode

#### 15. What is the mode of the following numbers? 12, 11, 14, 10, 8, 13, 11, 9
#### a. 11
#### b. 10
#### c. 14
#### d. 8

#### ans: a) 11

#### 16. What are the modes of the following sets of numbers?
#### a. 4, 13, 6, 9, 10, 5, 6

#### ans: 6 is the mode

#### b. 17, 10, 15, 15, 13, 19, 16, 13, 16, 16

#### ans: 16 is the mode