# Statistics Practice Problems

### Complete the following problems.

#### 1. What is the mean of the following numbers? 12, 37, 72, 38, 76, 35, 28
#### a. 42
#### b. 39
#### c. 42.5
#### d. 35.5

In [23]:
import statistics as sts
data=12,37,72,38,76,35,28
mean_=sts.mean(data)
round_mean=round(mean_,2)
print("mean is: ",round_mean)

mean is:  42.57

#### ans: c) 42.5

#### 2. What number would you divide by to calculate the mean of 3, 4, 2, 7, and 6?
#### a. 6
#### b. 3
#### c. 5
#### d. 4

In [11]:
data1= 3,4,2,7,6
n=len(data1)
print(n)

5

#### ans: c)5

#### 3. What measure of central tendency is calculated by adding all the values and dividing the sum by the number of values?
#### a. Median
#### b. Mean
#### c. Mode
#### d. Typical value

#### ans: b) Mean

#### 4. The mean of four numbers is 71.5. If three of the numbers are 58, 76, and 88, what is the value of the fourth number?
#### a. 64
#### b. 60
#### c. 76
#### d. 82

In [13]:
nums_=58,76,88
mean_=71.5

sum_of_nums=sum(nums_)
x=mean_*4
fourth_num=x-sum_of_nums

print(fourth_num)

64.0

#### ans: a) 64

#### 5. Determine the mean of the following set of numbers: 40, 61, 55, 79, 9, 55, 81, 65, 109

In [28]:
import statistics as sts
num1={40,61,55,79,9,55,81,65,109}
mean_=sts.mean(num1)
print(f"{mean_:0.2f} is the mean of the above set of numbers.")

62.38 is the mean of the above set of numbers.

#### 6. The mean weight of five complete computer stations is 173.2 pounds. The weights of four of the computer stations are 164.4 pounds, 142.8 pounds, 195 pounds, and 188.2 pounds respectively. What is the weight of the fifth computer station?

In [31]:
mean_5_cs=173.2
weight_of_four=164.4,142.8,195,188.2

sum_=sum(weight_of_four)
product_=173.2*5
weight_fith_cs=product_-sum_

print(f"{weight_fith_cs:0.2f} pounds will be the weight of 5th computer station.")

175.60 pounds will be the weight of 5th computer station.

#### 7. The mean width of 10 Ipads is 5.1 inches. The mean width of 6 Fire tablet is 4.8 inches.
#### a. What is the total width of the iPads?

In [32]:
mean_w=5.1
num_of_ipads=10
total_width=mean_w*num_of_ipads
print(total_width,"inches is the total width of ipads")

51.0 inches is the total width of ipads

#### b. What is the total width of the Fire tablet?

In [34]:
mean_w1=4.8
num_of_fire=6
total_width=mean_w1*num_of_fire
print(f"{total_width:0.2f} inches is the total width of fire tablet")

28.80 inches is the total width of fire tablet

#### c. What is the mean width of the 10 iPads and 6 Fire tablet?

In [37]:
mean_w=5.1
mean_w1=4.8
mean_t=mean_w+mean_w1
mean_of_both=mean_t/2
print(f"{mean_of_both:0.2f} inches is the mean width of both ipads and fire tablet.")

4.95 inches is the mean width of both ipads and fire tablet.

#### 8. A group NPS surveys were sent out at random.The scores were 90, 50, 60, 80, 70, 80, 20, 90, 80, 10, and 20. Find the mean score.

In [40]:
import statistics as sts
scores=90, 50, 60, 80, 70, 80, 20, 90, 80, 10, 20

mean_score=sts.mean(scores)
print(f"mean score is {mean_score:0.2f}")

mean score is 59.09

#### 9. What is the median of the following numbers? 11, 39, 74, 42, 39, 78, 38, 25
#### a. 42.5
#### b. 39
#### c. 42
#### d. 35.5

In [41]:
import statistics as sts
numb= 11, 39, 74, 42, 39, 78, 38, 25
median_=sts.median(numb)
print(f"{median_:0.2f} is the median of {numb}")

39.00 is the median of (11, 39, 74, 42, 39, 78, 38, 25)

#### ans: b) 39

#### 10. The front row in a movie theatre has 23 seats. If you were asked to sit in the seat that occupied the median position, in which seat would you have to sit?
#### a. 2
#### b. 11
#### c. 22
#### d. 12

In [10]:
import statistics as sts
n=23
seats=range(1,n+1)
median_pos=sts.median(seats)
print(f"{median_pos:0.2f} is the median position")

12.00 is the median position

#### ans: d) 12

#### 11. What is the median score achieved by a student who recorded the following scores on 10 math quizzes?
#### 68, 55, 70, 62, 71, 58, 81, 82, 63, 79
#### a. 68
#### b. 71
#### c. 69
#### d. 79

In [42]:
import statistics as sts
scores=68, 55, 70, 62, 71, 58, 81, 82, 63, 79
median_score=sts.median(scores)
print(f"{median_score:0.2f} is the median score")

69.00 is the median score

#### ans: c) 69

#### 12. The number of cola sold by each of 30 salesperson is as follows: 42, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30,45, 32, 18, 40, 12, 20 .What is the median number of colas sold by the 30 salesperson?
#### a. 18
#### b. 21
#### c. 24
#### d. 32

In [1]:
import statistics as sts
no_cola=42, 6, 21, 10, 8, 11, 12, 36, 17, 16, 15, 18, 40, 24, 21, 23, 24, 24, 29, 16, 32, 31, 10, 30,45, 32, 18, 40, 12, 20
median_num=sts.median(no_cola)
print(f"{median_num:0.2f} is the median number of colas")

21.00 is the median number of colas

#### ans: b) 21

#### 13. Which of the following measures can be determined for quantitative data?
#### a. Mean
#### b. Median
#### c. Mode
#### d. All of these

#### ans: d) all of these

#### 14. Which of the following measures can be calculated for qualitative data?
#### a. Mean
#### b. Median
#### c. Mode
#### d. All of these

#### ans: c) mode

#### 15. What is the mode of the following numbers? 12, 11, 14, 10, 8, 13, 11, 9
#### a. 11
#### b. 10
#### c. 14
#### d. 8

In [3]:
import statistics as sts
nums=12, 11, 14, 10, 8, 13, 11, 9
mode_of_nums=sts.mode(nums)
print(mode_of_nums ,"is the mode of ",nums)

11 is the mode of  (12, 11, 14, 10, 8, 13, 11, 9)

#### ans: a) 11

#### 16. What are the modes of the following sets of numbers?
#### a. 4, 13, 6, 9, 10, 5, 6

In [4]:
import statistics as sts
nums1=4, 13, 6, 9, 10, 5, 6
mode_of_nums1=sts.mode(nums1)
print(mode_of_nums1 ,"is the mode of ",nums1)

6 is the mode of  (4, 13, 6, 9, 10, 5, 6)

#### b. 17, 10, 15, 15, 13, 19, 16, 13, 16, 16

In [5]:
import statistics as sts
nums2=17, 10, 15, 15, 13, 19, 16, 13, 16, 16
mode_of_nums2=sts.mode(nums2)
print(mode_of_nums2 ,"is the mode of ",nums2)

16 is the mode of  (17, 10, 15, 15, 13, 19, 16, 13, 16, 16)